/* Background */
body {
    background-color: #03428192;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Title */
h1 {
    color: red;
    margin-top: 30px;
}

/* Description text */
.description {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Form container (box model) */
.form-box {
    background-color: white;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #ccc;
    text-align: left;
    align-items: center;
}

/* Label */
label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

/* Input fields */
.input-box {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #999;
    font-size: 15px;
}
.box{
    padding: 20px;
    margin: 15px;
    background-color: wheat;
}

img{
    width: 300px;
    border-radius: 10px;
}
/* Button styling */
#submit-btn {
    background-color: #999;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

#submit-btn:hover {
    background-color: #43a047;
}

/* Image styling */
.sample-image {
    width: 300px;
    border-radius: 10px;
    margin-top: 30px;
}
